**.ptc
**.synctex(busy)
**/.pdf-view-restore
**.aux
**.bbl
**.blg
**.log
**.out
tex/model_paper/main.pdf
tex/optim_paper/iclr2022_conference.pdf
**.synctex.gz
**/auto
**.fdb_latexmk
**.fls
src/
**.egg-info
**.mypy_cache
**__pycache__
.vscode/*
.coverage
**/MNIST
/exp/exp01_mnist_cnn_spectra/fig
/exp/exp01_mnist_cnn_spectra/results_multiple_batches/
/exp/exp01_mnist_cnn_spectra/results/
/exp/exp01_mnist_cnn_spectra/fig_multiple_batches/
/exp/exp02_gradient_curvature_overlap/fig/
/exp/exp02_gradient_curvature_overlap/results/
/exp/exp02_gradient_curvature_overlap/fig_multiple_batches/
/exp/exp02_gradient_curvature_overlap/results_multiple_batches/
/exp/exp04_gradient_signal_to_noise_ratio/fig/
/exp/exp04_gradient_signal_to_noise_ratio/results/
/exp/exp05_curvature_signal_to_noise_ratio/results/
/exp/exp05_curvature_signal_to_noise_ratio/fig/
/exp/exp06_toy_example/results/
/exp/exp06_toy_example/fig/
/exp/exp06_toy_example/diagnostics/
/exp/exp07_cifar10/data/
/exp/exp08_start_Adam_then_switch/data/
/exp/exp08_start_Adam_then_switch/results/
/exp/exp08_start_Adam_then_switch/fig/
/exp/exp09_noisy_quadratic/fig/
/exp/exp09_noisy_quadratic/results/
/exp/exp09_noisy_quadratic/Backup/
