**.aux
**.bbl
**.blg
**.log
**.out
tex/paper/main.pdf
**.synctex.gz
**/auto
**.fdb_latexmk
**.fls
src/
**.egg-info
**.mypy_cache
**__pycache__
.coverage
**/MNIST
/exp/exp01_mnist_cnn_spectra/fig
/exp/exp01_mnist_cnn_spectra/results_multiple_batches/
/exp/exp01_mnist_cnn_spectra/results/
/exp/exp01_mnist_cnn_spectra/fig_multiple_batches/
/exp/exp02_gradient_curvature_overlap/fig/
/exp/exp02_gradient_curvature_overlap/results/
/exp/exp02_gradient_curvature_overlap/fig_multiple_batches/
/exp/exp02_gradient_curvature_overlap/results_multiple_batches/
/exp/exp04_gradient_signal_to_noise_ratio/fig/
/exp/exp04_gradient_signal_to_noise_ratio/results/
