# Dependencies for vivit

# Install in editable mode from a GitHub repository's branch
git+git://github.com/f-dangel/backpack.git@2ad5c3ba80b787c584eb7b17707b9f86968054e9#egg=backpack-for-pytorch
scipy>=1.7.1,<2.0.0
tqdm>=4.61.0,<5.0.0
